/*_________________________________________________________________________*/
/*FOOTER*/

footer
{
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgba(66, 42, 24, 0.205);

}
h3
{
    font-size: 1.5rem;
    color:rgba(66, 42, 24, 0.8);
    text-align: center;
    padding-top:0.5rem;
    padding-left: 2.3rem
}